/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

* {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: bottom;
	box-sizing: border-box;
	font-size: 15px;
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	min-width: 100vw;
	min-height: 100vh;
	line-height: 1;
    overflow-x: hidden;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root {
	--main: #fff;
	--second: #f1f1f1;
	--contrast: #1c1c1c;
	--accent: #018749;
}

#root {
	width: 100%;
	height: 100%;
}